<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="logImpl" value="LOG4J" />
	</settings>

	<typeAliases>
		<typeAlias type="com.pyongjjeom.contents.parsing.common.ContentsValue"
			alias="ContentsValue" />
		<typeAlias type="com.pyongjjeom.contents.parsing.common.MovieGrades"
			alias="MovieGrades" />
		<typeAlias type="com.pyongjjeom.contents.parsing.common.BookGrades"
			alias="BookGrades" />
		<typeAlias type="com.pyongjjeom.user.dto.Member" alias="Member" />
		<typeAlias type="com.pyongjjeom.notice.dto.Notice" alias="Notice" />
		<typeAlias type="com.pyongjjeom.notice.dto.NoticeCode" alias="NoticeCode" />
		<typeAlias type="com.pyongjjeom.postandreply.dto.Post" alias="Post" />
		<typeAlias type="com.pyongjjeom.postandreply.dto.Reply" alias="Reply" />
	</typeAliases>
	<!-- SQL Mapper는 여기에 추가 -->
	<mappers>
		<mapper resource="com/pyongjjeom/contents/dao/ContentsMapper.xml" />
		<mapper resource="com/pyongjjeom/notice/dao/NoticeMapper.xml" />
		<mapper resource="com/pyongjjeom/login/dao/LoginMapper.xml" />
		<mapper resource="com/pyongjjeom/user/dao/UserMapper.xml" />
		<mapper resource="com/pyongjjeom/myroom/dao/MyRoomMapper.xml" />
	</mappers>
</configuration>