<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyongjjeom.notice.dao.NoticeMapper">

	<insert id="insertData" parameterType="Notice">
		insert into notice
		(notCD,writer,title,issue,notPasswd,category,permit,deleteyn,regidate,updatedate)
		values
		(#{notCD},#{writer},#{title},#{issue},#{notPasswd},#{category},'ADMIN','N',now(),now());
		
	
	</insert>

	<select id="applyData" resultType="Notice">

		select * from notice where ifnull(deleteyn,'N')='N';
		
		
	</select>
	
	<select id="getCode" resultType="com.pyongjjeom.notice.dto.NoticeCode">
		select code,codenm from common_cd
		where codegrp = 'notice'
		order by code;
	</select>
	
	
<!-- 	<update id="deleteData" parameterType="String">
		update  notice
		set deleteyn = 'N'
		where deleteyn = '';
	</update> -->



</mapper>