<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyongjjeom.notice.dao.NoticeMapper">




	<insert id="insertData" parameterType="Notice">
		insert into notice
		(notCD,writer,title,issue,notPasswd,category,permit,deleteyn,regidate,updatedate)
		values
		(#{notCD},#{writer},#{title},#{issue},#{notPasswd},#{category},'ADMIN','N',now(),now());


	</insert>

	<select id="getAllNoticeDatas" resultType="Notice">

		select * from notice where
		ifnull(deleteyn,'N')='N'
		order by regidate desc limit 0,5;

	</select>
	<select id="getSystemNoticeDatas" resultType="Notice">


		select * from notice where
		ifnull(deleteyn,'N')='N' and category = 'SM'
		order by regidate desc limit 0,5;;


	</select>





	<select id="getEventNoticeDatas" resultType="Notice">

		select * from notice where
		ifnull(deleteyn,'N')='N' and category = 'EV'
		order by regidate desc limit 0,5;

	</select>

	<select id="getDeleteNoticeDatas" resultType="Notice">


		select * from notice where
		ifnull(deleteyn,'N')='Y'
		order by regidate desc limit 0,5;

	</select>


	<select id="updateData" parameterType="String" resultType="Notice">

		select * from
		notice where notCD= #{notCD};

	</select>



	<select id="getCode" resultType="NoticeCode">
		select code,codenm from common_cd
		where
		codegrp = 'notice'
		order by code;
	</select>


	<update id="deleteData" parameterType="String">
		update notice
		set deleteyn = 'Y'
		where notCD= #{notCD} ;
	</update>

	<update id="editData" parameterType="Notice">
		update notice
		set writer=#{writer},
		title=#{title},issue=#{issue},
		notPasswd=#{notPasswd},category=#{category},updatedate=now() where
		notCD=#{notCD};


	</update>

	<select id="listMore" resultType="Notice">

		select * from notice where
		ifnull(deleteyn,'N')='N' ;

	</select>

	<select id="getMoreNoticeList" parameterType="Map" resultType="Notice">

		select * from notice where
		ifnull(deleteyn,'N')='N'
		<if test="category != ''">
			and category = #{category}
		</if>
		order by regidate desc limit ${row}, 5;

	</select>

		<select id="getAllNoticeListMore" resultType="Notice">

		select b.* from (
		SELECT
		@rnum:=@rnum + 1 as rownum, a.*
		FROM
		notice a,
		(select
		@rnum:=0) r
		) b
		where b.rownum between ${startrow} and ${endrow};
		<!-- select * from notice where ifnull(deleteyn,'N')='N' limit ${startrow},${endrow}; -->


	</select>






</mapper>