<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyongjjeom.postandreply.dao.PostAndReplyMapper">

	<!-- <select id="getPost" parameterMap="postMap" resultType="Post"> </select> <select 
		id="getReply" parameterMap="postMap" resultType="Post"></select> <update id="updatePost" 
		parameterMap="postMap"> </update> <update id="deletePost" parameterMap="postMap"> 
		</update> -->

	<insert id="insertPost" parameterType="Post">
	INSERT INTO posting
		(postcd,pmemcd,concd,memgrade,comment,deleteyn,spoilyn,regidate,updatedate)
		values
		(#{postCD},#{pmemCD},#{conCD},#{memGrade},#{comment},#{deleteYn},#{spoilYn},now(),now())
ON DUPLICATE KEY update  memGrade=#{memGrade},comment=#{comment},updatedate=now();

	</insert>
<select id="getPost" parameterType="String" resultType="PostAndContents"> 
    select posting.postcd,posting.pmemCD,posting.concd,posting.memgrade,posting.comment,contents.title,contents.director,contents.image,contents.link,contents.actor from posting,contents where posting.pmemcd=#{memCD} and ifnull(posting.deleteyn,'N')='N' and contents.concd=posting.concd order by  updatedate desc;
    </select>
    

	<select id="updatePost" parameterType="String" resultType="Post">

		select * from
		posting where postcd=#{postCD};

	</select> 
	
	<update id="editPost" parameterType="Post">
		update posting
		set memgrade=#{memGrade},comment=#{comment}, 
		review=#{review},updatedate=now()
		where postcd=#{postCD} 

	</update>
	
	<delete id="deletePost" parameterType="String">
		DELETE FROM posting WHERE 	postcd= #{postCD};

	</delete>
	
	<select id="getComent" parameterType="String" resultType="Comment"> 
 select member.memCD,member.memNm,member.imgPath,posting.memgrade,posting.postCD,posting.comment,posting.updatedate from posting,member where posting.concd=#{conCD} and ifnull(posting.deleteyn,'N')='N' and posting.pmemcd=member.memCD and member.commOpenChk='A'  order by  posting.updatedate desc;
    </select>

<select id="getPjGrade" parameterType="String" resultType="String"> 
select avg(memgrade) from posting where concd=#{conCD}
</select>

</mapper>

