<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyongjjeom.postandreply.dao.PostAndReplyMapper">

	<!-- <select id="getPost" parameterMap="postMap" resultType="Post"> </select> <select 
		id="getReply" parameterMap="postMap" resultType="Post"></select> <update id="updatePost" 
		parameterMap="postMap"> </update> <update id="deletePost" parameterMap="postMap"> 
		</update> -->

	<insert id="insertBookPost" parameterType="Post">
		INSERT INTO posting
		(postcd,pmemcd,review,memgrade,comment,deleteyn,spoilyn,regedate,updatedate,title,director,image,link,actor)
		values
		(#{postCD},#{pmemCD},#{review},#{memGrade},#{comment},#{deleteYn},#{spoilYn},now(),now(),#{title},#{director},#{image},#{link},#{actor})

	</insert>
<select id="getPost" parameterType="String" resultType="Post"> 
    
    select * from posting where pmemcd=#{memCD} order by  updatedate desc;
    </select>
    

	<select id="updatePost" parameterType="String" resultType="Post">

		select * from
		posting where postCD=#{postCD};

	</select>
	
	<update id="editPost" parameterType="Notice">
		update posting
		set review=#{review},memGrade=#{memgrade},
		comment=#{comment},deleteyn=#{deleteyn},
		spoilyn=#{spoilyn},regedate=now(), updatedate=now(), 
		title=#{title},director=#{director},
		image={#image},link=#{link},
		actor=#{actor} where postCD=#{postCD}

	</update>
</mapper>

