/*---FOOTER---*/
footer {
	width: 100%;
	height: auto;
	color: white;
	font-color:white;
	background-color: #666;
	box-shadow: 0 -5px 5px #222;
}

.footerWrap {
	margin: 0 auto;
	width: 50px;
}

.footerWrap ol li {
	color: white;
}