<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyongjjeom.user.dao.UserMapper">

	<select id="getMemberInfo" parameterType="string" resultType="Member">

	    select * from member where memCD=#{memCD};
	    	</select>

	<select id="checkMemberID" parameterType="string" resultType="Member">

	</select>

	
	<update id="upDateData" parameterType="Member">
		update member
		set

		memNm='${memNm}',
		birth='${birth}',
		passwd=password('${passwd}'),
		updatedate = now(),
		commOpenChk = '${commOpenChk}',
		commReplyChk = '${commReplyChk}'
		where memCD='${memCD}';


	</update>
	

	<update id="deleteMember" parameterType="string">

	    update member set memkind = 'D' where memCD = #{memCD};
	</update>

</mapper>