<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<!-- SQL Mapper는 여기에 추가 -->
	<mappers>
		<mapper resource="com/pyongjjeom/test/dao/DeptMapper.xml" />
		<mapper resource="com/pyongjjeom/test/dao/EmpMapper.xml" />

	</mappers>
</configuration>