<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyongjjeom.postandreply.dao.PostAndReplyMapper">

	<select id="getPost" parameterMap="postMap" resultType="Post">

	</select>
	
	<select id="getReply" parameterMap="postMap" resultType="Post"></select>

	<update id="updatePost" parameterMap="postMap">

	</update>

	<update id="deletePost" parameterMap="postMap">

	</update>
</mapper>