<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyongjjeom.login.dao.LoginMapper">

	<select id="checkMemberLogin" parameterType="hashmap" resultType="Member">
		select
		email from member where email = #
	</select>

	<select id="getEmail" parameterType="string" resultType="Member">
		select email
		from member where email = #{email}
	</select>
	<select id="login" resultType="Member">
		select * from member where email=#{email}
		and passwd=password('${passwd}')

	</select>

	<insert id="insertMember" parameterType="Member">
		insert into member(memcd, email,
		memkind, memnm, birth, passwd, emailauthyn, memvalid, fbyn, regidate,
		updatedate, commopenchk, commreplychk)
		values(#{memCD},#{email},'G',#{memNm},#{birth},password('${passwd}'),'N','A','N',now(),now(), 'A', 'A');
	</insert>

	<select id="getMemCD" parameterType="string" resultType="string">
		select memcd
		from member where email = #{email};
	</select>



	<select id="getMemCDbyFBID" parameterType="string" resultType="string">
		select
		memcd
		from member where fbid = #{fbId} and fbyn = 'Y';
	</select>


	<update id="updateEmailAuthCD" parameterType="Member">
		UPDATE member
		SET
		emailauthyn = 'N',
		emailauthcd = '${emailAuthCD}',
		updatedate = now()
		WHERE memcd
		= '${memCD}'
		AND email = '${email}';
	</update>

	<update id="updateEmailAuthCDCheck" parameterType="Member">
		UPDATE member
		SET
		emailauthyn = 'Y',
		emailauthcd = '',
		updatedate = now()
		WHERE memcd = '${memCD}'
		AND email = '${email}';
	</update>

	<select id="getEmailAuthCD" parameterType="string" resultType="string">
		SELECT
		emailauthcd FROM member
		where email = #{email};
	</select>

	<insert id="regiesterFBMember" parameterType="Member">
		INSERT INTO member
		(memCD,
		email,
		memkind,
		memnm,
		birth,
		passwd,
		emailauthyn,
		emailauthcd,
		memvalid,
		fbid,
		fbyn,
		imgpath,
		imgnm,
		regidate,
		updatedate)
		VALUES
		(
		#{memCD },
		#{email },
		'F',
		#{memNm },
		#{birth },
		password('${passwd }'),
		'Y',
		'',
		'A',
		#{fbId },
		'Y',
		#{imgPath },
		'',
		now(),
		now());

	</insert>

	<update id="updateFBMember" parameterType="Member">
		UPDATE member
		SET
		email =
		#{email} ,
		memnm = #{memNm} ,
		birth = #{birth} ,
		fbid = #{fbId} ,
		fbyn = 'Y',
		imgpath = #{imgPath} ,
		updatedate = now()
		WHERE email = #{email} or fbid =
		#{fbId}  and fbyn = 'Y';
	</update>

	<select id="getMemberInfoByFBID" parameterType="String" resultType="Member">
		select memCD,
		email,
		memNm,
		birth,
		fbId,
		imgPath
		from member where fbid = #{fbId} and fbyn = 'Y';
	</select>
	<select id="getMemberInfoByMember" parameterType="Member" resultType="Member">
		SELECT memCD ,
		email ,
		memKind ,
		memNm ,
		birth ,
		passwd ,
		emailAuthYn ,
		emailauthcd ,
		memvalid ,
		fbId ,
		fbYn ,
		imgPath ,
		imgNm ,
		regiDate ,
		updateDate
		FROM member
		where
		email = #{email} or fbid=#{fbId} and fbyn = 'Y';

	</select>
	
	<update id="updateMemberPasswd" parameterType="Member">
	    update member set
	    passwd = password(#{passwd})
	    where email = #{email};
	</update>
</mapper>