<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyongjjeom.login.dao.LoginMapper">

    <select id="checkMemberLogin" parameterMap="loginMap" resultType="User">
        
    </select>
    
    <insert id="createMember" parameterType="User" >
        
    </insert>
    
</mapper>